n8n/n8n-workflows/n8n_exports/workflows/Cake_Order_Manager__Get_Chat_Logs.json
{
    "updatedAt": "2026-03-09T01:17:56.021Z",
    "createdAt": "2026-02-17T02:50:33.036Z",
    "id": "w72lXflaDwbDwM3B",
    "name": "Cake Order Manager: Get Chat Logs",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "path": "cakeOrder/chatLogs",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                0
            ],
            "id": "15b4603a-d8be-4433-8318-97f1a0f04c0d",
            "name": "Webhook",
            "webhookId": "8649d56b-5413-46f4-990b-7efb0f99c2e4"
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {
                    "responseCode": 200
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                416,
                0
            ],
            "id": "5f13c84a-6ece-4bb7-ab42-762e75b9ae83",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM chat_logs\nWHERE customer_id IS NOT DISTINCT FROM $1\nORDER BY created_at;",
                "options": {
                    "queryReplacement": "={{ $json.query.customer_id || 0 }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                208,
                0
            ],
            "id": "94fd03ea-6b12-46f4-8709-37bbe44a7bf5",
            "name": "Execute a SQL query",
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Execute a SQL query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute a SQL query": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "2f22e834-e3e2-49a9-93fb-1a830ebcebdf",
    "activeVersionId": "2f22e834-e3e2-49a9-93fb-1a830ebcebdf",
    "triggerCount": 1,
    "tags": [],
    "shared": [
        {
            "updatedAt": "2026-03-09T01:16:55.277Z",
            "createdAt": "2026-03-09T01:16:55.277Z",
            "role": "workflow:owner",
            "workflowId": "w72lXflaDwbDwM3B",
            "projectId": "CYhcDmbIQnakCD4k",
            "project": {
                "updatedAt": "2026-03-09T01:15:03.513Z",
                "createdAt": "2026-03-09T01:07:16.193Z",
                "id": "CYhcDmbIQnakCD4k",
                "name": "Damien Barnes <damie3@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "b5e271ac-3706-4656-8c4e-f94b827a82e7"
            }
        }
    ],
    "versionMetadata": {
        "name": null,
        "description": null
    }
}