n8n/n8n-workflows/n8n_exports/workflows/Cake_Order_Manager__Process.json
{
    "updatedAt": "2026-03-09T01:18:36.444Z",
    "createdAt": "2026-02-09T23:19:03.803Z",
    "id": "FaH-ig5SWzZFCBx_RLigL",
    "name": "Cake Order Manager: Process",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "5e22cb45-5035-4589-8834-aaf220a30beb",
                            "name": "message",
                            "value": "={{ $json.body.user_message }}",
                            "type": "string"
                        },
                        {
                            "id": "96388973-b587-412b-b852-fbb1b9ba3861",
                            "name": "customer_id",
                            "value": "={{ $json.body.customer_id }}",
                            "type": "string"
                        },
                        {
                            "id": "da06b87a-4081-4f52-a143-addca91a88cf",
                            "name": "source",
                            "value": "={{ $json.body.source }}",
                            "type": "string"
                        },
                        {
                            "id": "98f04085-949d-4868-a176-a92279f2de19",
                            "name": "system_note",
                            "value": "={{ $json.body.system_note || null}}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -656,
                -784
            ],
            "id": "4ed5a317-da72-46ff-abfc-3e9cf350275f",
            "name": "Edit Fields"
        },
        {
            "parameters": {
                "url": "http://localhost:5678/webhook/customCake/getConfig",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                240,
                -688
            ],
            "id": "42dbe345-3ebf-407e-8639-818028fd00ba",
            "name": "HTTP Request"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "195ac022-7a52-4bf7-a652-e4a1fdec0cd6",
                            "name": "intents",
                            "value": "={{ $json.intents }}",
                            "type": "object"
                        },
                        {
                            "id": "de713e8a-d5be-4af8-862c-764798efcdf1",
                            "name": "message",
                            "value": "={{ $('Edit Fields').item.json.message }}",
                            "type": "string"
                        },
                        {
                            "id": "651e8569-ea28-4067-8be3-10154e1bb453",
                            "name": "order_config",
                            "value": "={{ $json.order_config }}",
                            "type": "object"
                        },
                        {
                            "id": "7d163625-1093-4212-add6-ac774713ecae",
                            "name": "last_prompt",
                            "value": "={{ $('Execute a SQL query').item.json.last_ai_prompt}}",
                            "type": "string"
                        },
                        {
                            "id": "d8a8b8c9-b971-41e9-b0fc-236235ba74b6",
                            "name": "general_information",
                            "value": "={{ $json.general_information }}",
                            "type": "object"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                464,
                -688
            ],
            "id": "0b1d7d52-98e6-4c78-a574-958a2d14d979",
            "name": "Edit Fields1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:5678/webhook/cakeOrder/extractIntent",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "intents_config",
                            "value": "={{ $json.intents }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.message }}"
                        },
                        {
                            "name": "last_prompt",
                            "value": "={{ $json.last_prompt }}"
                        },
                        {
                            "name": "=system_note",
                            "value": "={{ $('Edit Fields').item.json.system_note  || null}}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                688,
                -688
            ],
            "id": "63bf72eb-dfef-43fb-8081-38c3f39dceb6",
            "name": "HTTP Request1"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.selected_intent }}",
                                        "rightValue": "CHANGE_ORDER",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "436f07ab-90ae-4953-aa31-056918c0739c"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "c96ca144-3ca0-445e-8b94-145d2224ca8f",
                                        "leftValue": "={{ $json.selected_intent }}",
                                        "rightValue": "={{ 'NEW_ORDER' || 'RESET_ORDER' }}",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "a5c0df61-d11f-4513-9ac3-77acc2f60a4d",
                                        "leftValue": "={{ $json.selected_intent }}",
                                        "rightValue": "CONFIRM_ORDER",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "f714a196-a3f5-4e5d-a326-ad84cdfc663e",
                                        "leftValue": "={{ $json.selected_intent }}",
                                        "rightValue": "MALICIOUS_INPUT",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "32ce4f2f-fb3d-4b54-a9be-185bdc6a8716",
                                        "leftValue": "={{ $json.selected_intent }}",
                                        "rightValue": "=HELP",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "bc50777b-a4dc-497d-bc2a-65672a6c8de3",
                                        "leftValue": "={{ $json.selected_intent }}",
                                        "rightValue": "VIEW_MENU",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "8ea1ba7e-f962-448e-b86e-fcfacf5ae5d6",
                                        "leftValue": "={{ $json.selected_intent }}",
                                        "rightValue": "CANCEL_ORDER",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "4037a102-f6ca-49b0-a6da-d4de583798b9",
                                        "leftValue": "={{ $json.selected_intent }}",
                                        "rightValue": "TALK_TO_HUMAN",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "b216023f-e283-4c51-97e6-4c54f575118f",
                                        "leftValue": "={{ $json.selected_intent }}",
                                        "rightValue": "CHECK_STATUS",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": false,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "4cb4019f-fdf5-4cc6-8993-48f8b96964ed",
                                        "leftValue": "={{ $json.selected_intent }}",
                                        "rightValue": "GREETING",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra",
                    "ignoreCase": true
                }
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                912,
                -832
            ],
            "id": "dc6f77cd-8469-420b-b649-17f97b85fb46",
            "name": "Switch"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:5678/webhook/cakeOrder/createOrChange",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "message",
                            "value": "={{ $('Edit Fields1').item.json.message }}"
                        },
                        {
                            "name": "order_config",
                            "value": "={{ $('Edit Fields1').item.json.order_config }}"
                        },
                        {
                            "name": "customer_id",
                            "value": "={{ $('Edit Fields').item.json.customer_id }}"
                        },
                        {
                            "name": "last_ai_prompt",
                            "value": "={{ $('Execute a SQL query').item.json.last_ai_prompt }}"
                        },
                        {
                            "name": "general_information",
                            "value": "={{ $('Edit Fields1').item.json.general_information }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1360,
                -976
            ],
            "id": "2061ae09-1c1c-4073-a2cb-09f5e01d6ae8",
            "name": "HTTP Request2"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:5678/webhook/cakeOrder/confirm",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "customer_id",
                            "value": "={{ $('Edit Fields').item.json.customer_id }}"
                        },
                        {
                            "name": "user_message",
                            "value": "={{ $('Edit Fields1').item.json.message }}"
                        },
                        {
                            "name": "order_config",
                            "value": "={{ $('Edit Fields1').item.json.order_config }}"
                        },
                        {
                            "name": "last_ai_prompt",
                            "value": "={{ $('Execute a SQL query').item.json.last_ai_prompt }}"
                        },
                        {
                            "name": "general_information",
                            "value": "={{ $('HTTP Request').item.json.general_information }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1360,
                -736
            ],
            "id": "96049985-dfb6-468d-95c0-68f71ddd4d14",
            "name": "HTTP Request3"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "cakeOrder/process",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -880,
                -784
            ],
            "id": "2d28b336-c59d-4cea-856a-c042fa38236d",
            "name": "Webhook",
            "webhookId": "fad0d7a9-8fbc-4c0e-b001-ca14f841479a"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:5678/webhook/cakeOrder/sendResponse",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "response_message",
                            "value": "={{ $json.response_message }}"
                        },
                        {
                            "name": "customer_id",
                            "value": "={{ $('Edit Fields').item.json.customer_id }}"
                        },
                        {
                            "name": "source",
                            "value": "={{ $('Edit Fields').item.json.source }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                2032,
                -184
            ],
            "id": "75e58327-bd3e-481f-b40b-377e0a4e76a6",
            "name": "HTTP Request4"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "4acfd99a-cbe5-46ad-a37a-02ac6adeee42",
                            "name": "response_message",
                            "value": "={{ $json.response_message }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1808,
                -280
            ],
            "id": "35ceabd4-0689-48a4-8f3f-b087d83f423b",
            "name": "Edit Fields2"
        },
        {
            "parameters": {
                "jsCode": "return {response_message: $input.first().json.response_message}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1584,
                -880
            ],
            "id": "73bc88c4-c1d2-448b-8dc9-2c4c91c42c04",
            "name": "Code in JavaScript"
        },
        {
            "parameters": {
                "jsCode": "const input = $('Edit Fields').first().json.message;\nconst cleanInput = input && input.length > 25 ? input.substring(0, 25) + '...' : input;\n\nreturn {\n  response_message:\n    `Not sure what you mean by \"${cleanInput}\". ` +\n    `I can help you place a cake order or answer questions about our bakery. What would you like to do?`\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1584,
                560
            ],
            "id": "1cb7bd03-b981-49a9-a797-376d336b9c4e",
            "name": "Code in JavaScript1"
        },
        {
            "parameters": {
                "operation": "deleteTable",
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "custom_orders",
                    "mode": "list",
                    "cachedResultName": "custom_orders"
                },
                "deleteCommand": "delete",
                "where": {
                    "values": [
                        {
                            "column": "customer_id",
                            "value": "={{ $('Edit Fields').item.json.customer_id }}"
                        },
                        {
                            "column": "order_status_id",
                            "value": "={{ 'DRAFT' || 'AWAITING_APPROVAL'}}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1136,
                -904
            ],
            "id": "106ca143-c45e-4b9d-b041-d536e8de6cd9",
            "name": "Delete table or rows",
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:5678/webhook/cakeOrder/help",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "message",
                            "value": "={{ $('Edit Fields1').item.json.message }}"
                        },
                        {
                            "name": "order_config",
                            "value": "={{ $('Edit Fields1').item.json.order_config }}"
                        },
                        {
                            "name": "customer_id",
                            "value": "={{ $('Edit Fields').item.json.customer_id }}"
                        },
                        {
                            "name": "last_ai_prompt",
                            "value": "={{ $('Execute a SQL query').item.json.last_ai_prompt }}"
                        },
                        {
                            "name": "general_information",
                            "value": "={{ $('HTTP Request').item.json.general_information }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1360,
                -448
            ],
            "id": "d0586697-f69e-4b60-a1b7-55e326e8e306",
            "name": "HTTP Request5"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE custom_orders\nSET order_status_id = 'CANCELLED'\nWHERE customer_id = $1\nAND order_status_id in ('AWAITING_APPROVAL', 'DRAFT')\n",
                "options": {
                    "queryReplacement": "={{ $('Edit Fields').item.json.customer_id }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1360,
                176
            ],
            "id": "c5d30373-e276-4249-b567-c8297fdb7947",
            "name": "Execute a SQL query1",
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return {\n  response_message:\n    `Your order has been cancelled.\\n\\n` +\n    `If you change your mind or want to start fresh, just send us a message anytime.`\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1584,
                176
            ],
            "id": "09a669a0-b8af-41d0-ad78-fb6d86d2f250",
            "name": "Code in JavaScript2"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE chat_sessions\nSET current_state = 'TALK_TO_HUMAN'\nWHERE customer_id = $1",
                "options": {
                    "queryReplacement": "={{ $('Edit Fields').item.json.customer_id }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1136,
                -232
            ],
            "id": "9810cfb3-6a44-41cf-b3a2-58773b1ae8d0",
            "name": "Execute a SQL query2",
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 1. Constructing the Human Handoff Message\nlet finalMessage = `Hi, I've notified our baking team that you'd like to chat! \\n\\n` +\n    `A human team member will jump in here as soon as possible to help you out.`;\n\nreturn {\n    response_message: finalMessage\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1360,
                -232
            ],
            "id": "5c239681-6e2c-480c-b95f-49fd5954cb9e",
            "name": "Code in JavaScript3"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT order_status_id, selections\nFROM custom_orders\nWHERE customer_id = $1\n  AND order_status_id NOT IN ('CANCELLED')",
                "options": {
                    "queryReplacement": "={{ $('Edit Fields').item.json.customer_id }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1360,
                368
            ],
            "id": "d9df10cd-6856-4d9e-8188-c7d52bcb6401",
            "name": "Execute a SQL query3",
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const orders = $input.all() || []; \nlet orderList = \"\";\n\nconst statusMap = {\n    'DRAFT': '📝 Draft',\n    'AWAITING_APPROVAL': '⏳ Pending Approval',\n    'AWAITING_DEPOSIT': '💳 Awaiting Deposit',\n    'AWAITING_REVIEW': '🧐 Under Review',\n    'COMPLETED': '✅ Completed'\n};\n\nif (orders.length > 0) {\n    orders.forEach((item, index) => {\n        const order = item.json.selections;\n        const statusKey = item.json.order_status_id;\n        const statusText = statusMap[statusKey] || statusKey;\n        \n        const displayDate = order.event_date \n            ? new Date(order.event_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) \n            : \"Date TBD\";\n\n        // 1. Format Tier Details (Size, Flavor, Layers)\n        let tierSummary = \"\";\n        if (order.tier_definitions && Array.isArray(order.tier_definitions)) {\n            tierSummary = order.tier_definitions.map(t => \n                `   🔹 T${t.tier_index}: ${t.size}\" ${t.flavor} (${t.layers} layers)`\n            ).join('\\n');\n        } else {\n            tierSummary = \"   🔹 Details TBD\";\n        }\n\n        // 2. Build the Block\n        orderList += `${index + 1}. *${order.cake_theme || 'Custom Cake'}* (${statusText})\\n` +\n                     `   📅 ${displayDate}\\n` +\n                     `${tierSummary}\\n\\n`;\n    });\n} else {\n    orderList = \"No active orders found! 🧁\";\n}\n\nlet finalMessage = `📋 *YOUR ORDER STATUS* 📋\\n\\n` +\n    `Hi there! Here is the breakdown of your current cake projects:\\n\\n` +\n    `${orderList}` +\n    `--- --- --- --- --- --- ---\\n` +\n    ``;\n\nreturn {\n    response_message: finalMessage\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1584,
                368
            ],
            "id": "9651def9-1f27-491f-99d6-e72e2e1e9edd",
            "name": "Code in JavaScript4"
        },
        {
            "parameters": {
                "operation": "update",
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "chat_sessions",
                    "mode": "list",
                    "cachedResultName": "chat_sessions"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "customer_id": "={{ $('Edit Fields').item.json.customer_id }}",
                        "current_state": "BLOCKED"
                    },
                    "matchingColumns": [
                        "customer_id"
                    ],
                    "schema": [
                        {
                            "id": "customer_id",
                            "displayName": "customer_id",
                            "required": true,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "current_state",
                            "displayName": "current_state",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "last_interaction",
                            "displayName": "last_interaction",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "dateTime",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "source",
                            "displayName": "source",
                            "required": true,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "last_ai_prompt",
                            "displayName": "last_ai_prompt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1136,
                -592
            ],
            "id": "a062cc01-86aa-4074-ac99-57b4bf456f32",
            "name": "Update rows in a table",
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        },
        {
            "parameters": {
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "chat_logs",
                    "mode": "list",
                    "cachedResultName": "chat_logs"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "created_at": "={{ new Date() }}",
                        "response": "={{ $json.response_message }}",
                        "customer_message": "={{ $('Edit Fields').item.json.message }}",
                        "customer_id": "={{ $('Edit Fields').item.json.customer_id }}"
                    },
                    "matchingColumns": [
                        "id"
                    ],
                    "schema": [
                        {
                            "id": "id",
                            "displayName": "id",
                            "required": false,
                            "defaultMatch": true,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "customer_id",
                            "displayName": "customer_id",
                            "required": true,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "customer_message",
                            "displayName": "customer_message",
                            "required": true,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "response",
                            "displayName": "response",
                            "required": true,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "created_at",
                            "displayName": "created_at",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "dateTime",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                2032,
                8
            ],
            "id": "2841695b-bbb5-4d14-b344-b4eabbc36558",
            "name": "Insert rows in a table",
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        },
        {
            "parameters": {
                "operation": "select",
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "admin_user",
                    "mode": "list",
                    "cachedResultName": "admin_user"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1808,
                -88
            ],
            "id": "27eb9619-5a1c-40e2-9c4d-8a2730170e62",
            "name": "Select rows from a table1",
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "let message = `✨ *User would like to talk to a Human* ✨` +\n  $('Edit Fields').first().json.customer_id\nreturn {\n    response_message: message\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1584,
                -160
            ],
            "id": "613d2252-0969-404b-b80b-a73fa1f84c1e",
            "name": "Code in JavaScript5"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:5678/webhook/cakeOrder/sendResponse",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "source",
                            "value": "={{ $json.source }}"
                        },
                        {
                            "name": "customer_id",
                            "value": "={{ $json.admin_id }}"
                        },
                        {
                            "name": "response_message",
                            "value": "={{ $('Code in JavaScript5').item.json.response_message }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                2032,
                200
            ],
            "id": "e01ccaa8-fa39-4dcf-b5dc-ab833f0cd156",
            "name": "HTTP Request6"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.current_state }}",
                                        "rightValue": "TALK_TO_HUMAN",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "aeb05e26-1265-47e7-aae0-ad88a433ff26"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "07e0370f-5ece-4860-9a5b-ddebb3c2e801",
                                        "leftValue": "={{ $json.current_state }}",
                                        "rightValue": "BLOCKED",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                -208,
                -800
            ],
            "id": "577b22bf-3889-43d0-a239-1f16673046fd",
            "name": "Switch1"
        },
        {
            "parameters": {
                "schema": {
                    "__rl": true,
                    "value": "public",
                    "mode": "list",
                    "cachedResultName": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "chat_logs",
                    "mode": "list",
                    "cachedResultName": "chat_logs"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "customer_id": "={{ $('Edit Fields').item.json.customer_id }}",
                        "customer_message": "={{ $('Edit Fields').item.json.message }}",
                        "response": " ",
                        "created_at": "={{ new Date() }}"
                    },
                    "matchingColumns": [
                        "id"
                    ],
                    "schema": [
                        {
                            "id": "id",
                            "displayName": "id",
                            "required": false,
                            "defaultMatch": true,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "customer_id",
                            "displayName": "customer_id",
                            "required": true,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "customer_message",
                            "displayName": "customer_message",
                            "required": true,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "response",
                            "displayName": "response",
                            "required": true,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "created_at",
                            "displayName": "created_at",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "dateTime",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                16,
                -880
            ],
            "id": "e1fba5c2-e43e-4eff-a360-cd8a49cbbffa",
            "name": "Insert rows in a table1",
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const message = `Hi! Welcome to Precious Place 🎂 What can we bake for you?`;\n\nreturn { response_message: message }"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1808,
                104
            ],
            "id": "d6ab0a45-13f6-49d1-9755-f30e4b38ddbd",
            "name": "Code in JavaScript7"
        },
        {
            "parameters": {
                "operation": "select",
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "chat_sessions",
                    "mode": "list",
                    "cachedResultName": "chat_sessions"
                },
                "limit": 1,
                "where": {
                    "values": [
                        {
                            "column": "customer_id",
                            "value": "={{ $json.customer_id }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -432,
                -784
            ],
            "id": "61eaf52c-1b30-4c30-b006-516a0dbbaba0",
            "name": "Execute a SQL query",
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO chat_sessions (customer_id, current_state, source)\nVALUES ($1, 'START', $2)\nON CONFLICT (customer_id) \nDO UPDATE SET last_interaction = CURRENT_TIMESTAMP\nRETURNING *;",
                "options": {
                    "queryReplacement": "={{ [$('Edit Fields').first().json.customer_id, $('Edit Fields').first().json.source] }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                16,
                -688
            ],
            "id": "5440959e-59ee-4840-84ec-e5aef1552862",
            "name": "Execute a SQL query4",
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        }
    ],
    "connections": {
        "Edit Fields": {
            "main": [
                [
                    {
                        "node": "Execute a SQL query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Edit Fields1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields1": {
            "main": [
                [
                    {
                        "node": "HTTP Request1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request1": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "HTTP Request2",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Delete table or rows",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "HTTP Request3",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update rows in a table",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "HTTP Request5",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "HTTP Request5",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Execute a SQL query1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Execute a SQL query2",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Execute a SQL query3",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Code in JavaScript7",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Code in JavaScript1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request2": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields2": {
            "main": [
                [
                    {
                        "node": "HTTP Request4",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Insert rows in a table",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript": {
            "main": [
                [
                    {
                        "node": "Edit Fields2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript1": {
            "main": [
                [
                    {
                        "node": "Edit Fields2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request3": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Delete table or rows": {
            "main": [
                [
                    {
                        "node": "HTTP Request2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request5": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute a SQL query1": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript2": {
            "main": [
                [
                    {
                        "node": "Edit Fields2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute a SQL query2": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript3": {
            "main": [
                [
                    {
                        "node": "Edit Fields2",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Code in JavaScript5",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute a SQL query3": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript4": {
            "main": [
                [
                    {
                        "node": "Edit Fields2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Select rows from a table1": {
            "main": [
                [
                    {
                        "node": "HTTP Request6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript5": {
            "main": [
                [
                    {
                        "node": "Select rows from a table1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch1": {
            "main": [
                [
                    {
                        "node": "Insert rows in a table1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [],
                [
                    {
                        "node": "Execute a SQL query4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript7": {
            "main": [
                [
                    {
                        "node": "HTTP Request4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute a SQL query": {
            "main": [
                [
                    {
                        "node": "Switch1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute a SQL query4": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {
        "Webhook": [
            {
                "json": {
                    "headers": {
                        "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
                        "content-type": "application/json",
                        "user-agent": "axios/1.13.5",
                        "content-length": "99",
                        "accept-encoding": "gzip, compress, deflate, br",
                        "host": "localhost:5678",
                        "connection": "close"
                    },
                    "params": {},
                    "query": {},
                    "body": {
                        "customer_id": 8265615223,
                        "user_message": "I want a birthday cake for April 15",
                        "source": "Telegram"
                    },
                    "webhookUrl": "https://dev.preciousplaceanu.com/webhook/cakeOrder/process",
                    "executionMode": "production"
                }
            }
        ]
    },
    "versionId": "e50556ce-1d0d-4370-b025-8b1fb5c7bf7c",
    "activeVersionId": "e50556ce-1d0d-4370-b025-8b1fb5c7bf7c",
    "triggerCount": 1,
    "tags": [],
    "shared": [
        {
            "updatedAt": "2026-03-09T01:17:22.818Z",
            "createdAt": "2026-03-09T01:17:22.818Z",
            "role": "workflow:owner",
            "workflowId": "FaH-ig5SWzZFCBx_RLigL",
            "projectId": "CYhcDmbIQnakCD4k",
            "project": {
                "updatedAt": "2026-03-09T01:15:03.513Z",
                "createdAt": "2026-03-09T01:07:16.193Z",
                "id": "CYhcDmbIQnakCD4k",
                "name": "Damien Barnes <damie3@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "b5e271ac-3706-4656-8c4e-f94b827a82e7"
            }
        }
    ],
    "versionMetadata": {
        "name": "Version 56cba82e",
        "description": ""
    }
}