n8n/n8n-workflows/n8n_exports/workflows/Cake_Order_Manager__Get_Config.json
{
    "updatedAt": "2026-03-10T03:30:57.399Z",
    "createdAt": "2026-02-09T15:53:36.877Z",
    "id": "svxtePEASCSC44ZYdUg-V",
    "name": "Cake Order Manager: Get Config",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "path": "customCake/getConfig",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -544,
                -240
            ],
            "id": "f08af8e5-a46d-4323-91c8-5b37b0288426",
            "name": "Webhook",
            "webhookId": "3d116594-169b-4740-ba75-3ea359bf4e5a"
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                704,
                -224
            ],
            "id": "f064260a-6e3d-46fc-a61d-80798251f67d",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT jsonb_object_agg(field_key, field_data) as order_config\nFROM (\n  SELECT \n    oc.field_key, \n    jsonb_build_object(\n      'display_name', oc.display_name,\n      'field_type', oc.field_type,\n      'scope', oc.scope,\n      'sort_order', oc.sort_order,\n      -- Transform options array into a lookup object while keeping types intact\n      'options', (\n         SELECT jsonb_object_agg(\n           opt->>'value', \n           jsonb_build_object('label', opt->>'label')\n         ) FROM jsonb_array_elements(oc.options) opt\n      ),\n      -- Aggregate rules from the field_rules table\n      'rules', (\n         SELECT jsonb_agg(\n           jsonb_build_object(\n             'type', fr.rule_type,\n             'config', fr.config,\n             'error_message', fr.error_message\n           )\n         ) \n         FROM field_rules fr \n         WHERE fr.field_key = oc.field_key\n      ),\n      'extraction_hint', oc.extraction_hint\n    ) as field_data\n  FROM order_config oc\n  WHERE oc.is_active = true\n  ORDER BY oc.sort_order ASC\n) sorted_fields;",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -80,
                -160
            ],
            "id": "2b8d214c-92b1-48dc-bd92-03bb9663d948",
            "name": "Execute a SQL query",
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT jsonb_object_agg(\n    i.intent_key, i.classification_guide\n) AS intents\nFROM user_intents i\nWHERE i.is_active = TRUE;\n",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -32,
                -352
            ],
            "id": "dae9eec8-f1cf-4eff-87bd-198f00dcf379",
            "name": "Execute a SQL query1",
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineAll",
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                352,
                -224
            ],
            "id": "3e4c0fc0-3322-406e-bb68-afc017890428",
            "name": "Merge"
        },
        {
            "parameters": {
                "jsCode": "const retrived_config = $input.first().json.order_config;\nconst order_config = {};\n\nfor (const key in retrived_config) {\n    const current_config = retrived_config[key];\n    const item_config = {};\n    const option_labels = {};\n    \n    const options = current_config.options;\n    \n    // 1. Mapping the basics\n    item_config['display_name'] = current_config.display_name;\n    item_config['field_type'] = current_config.field_type;\n    item_config['scope'] = current_config.scope; // Global vs Tier\n    item_config['sort_order'] = current_config.sort_order;\n    \n    // 2. Mapping the New Intelligence\n    item_config['extraction_hint'] = current_config.extraction_hint;\n    item_config['rules'] = current_config.rules || []; // Integration of the field_rules table\n    \n    // 3. Handle Options\n    item_config['options'] = [];\n    if (options != null) {\n        // Keeps the array of values for the validation 'isAllowed' check\n        item_config['options'] = Object.keys(options);\n        \n        for (const opt_key in options) {\n            option_labels[opt_key] = options[opt_key].label;\n        }\n    }\n\n    item_config['option_labels'] = option_labels;\n    \n    // 4. Placeholder for future price logic if added to field_rules/options\n    item_config['option_prices'] = {}; \n\n    order_config[key] = item_config;\n}\n\nreturn { order_config: order_config };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                128,
                -160
            ],
            "id": "20076577-3a2c-47ee-824a-85283326e197",
            "name": "Code in JavaScript"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT jsonb_object_agg(field_key, field_data) AS general_information\nFROM (\n  SELECT \n    field_key, \n    jsonb_build_object(\n      'display_name', display_name,\n      'value', value,\n      'field_description', field_description\n    ) AS field_data\n  FROM general_information \n) AS subquery;",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -64,
                -454.9802513464991
            ],
            "id": "a572c0bb-8ac2-4a3d-a695-9721068d5c8a",
            "name": "Execute a SQL query2",
            "credentials": {
                "postgres": {
                    "id": "1lBfXhbGIpsvL7vQ",
                    "name": "Custom Order DB Credentials"
                }
            }
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineAll",
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                176,
                -400
            ],
            "id": "8b179a32-3cfb-4b4e-b48b-75a52eb68db7",
            "name": "Merge1"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Execute a SQL query1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Execute a SQL query",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Execute a SQL query2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute a SQL query": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute a SQL query1": {
            "main": [
                [
                    {
                        "node": "Merge1",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Execute a SQL query2": {
            "main": [
                [
                    {
                        "node": "Merge1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge1": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {
        "Webhook": [
            {
                "json": {
                    "headers": {
                        "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
                        "user-agent": "axios/1.12.0",
                        "accept-encoding": "gzip, compress, deflate, br",
                        "host": "localhost:5678",
                        "connection": "close"
                    },
                    "params": {},
                    "query": {},
                    "body": {},
                    "webhookUrl": "http://localhost:5678/webhook/customCake/getConfig",
                    "executionMode": "production"
                }
            }
        ]
    },
    "versionId": "f3fa679f-be6d-4b71-9208-1ad7dae7fce7",
    "activeVersionId": "f3fa679f-be6d-4b71-9208-1ad7dae7fce7",
    "triggerCount": 1,
    "tags": [],
    "shared": [
        {
            "updatedAt": "2026-03-10T03:30:03.252Z",
            "createdAt": "2026-03-10T03:30:03.252Z",
            "role": "workflow:owner",
            "workflowId": "svxtePEASCSC44ZYdUg-V",
            "projectId": "rXWfVez8XBP0z1yZ",
            "project": {
                "updatedAt": "2026-03-10T03:28:24.260Z",
                "createdAt": "2026-03-10T03:23:00.734Z",
                "id": "rXWfVez8XBP0z1yZ",
                "name": "Damien Barnes <damie3@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "082fbe3a-e7b6-4268-a04e-dc0007d42196"
            }
        }
    ],
    "versionMetadata": {
        "name": null,
        "description": null
    }
}